.listen-cta {
	position: absolute;
	left: .66em;
}

.listen-cta:before {
	content: "";
	display: inline-block;
	width: 0;
	height: 0;
	border: .4em solid transparent;
	border-left: .6em solid black;
	margin-right: .25em;
}

#freeform-social a {
	display: inline-block;
	margin-right: .25em;
	font-size: 1.66em;
}

@media screen and (min-width: 780px) {
	#freeform-social {
		position: absolute;
		right: .66em;
		top: 0;
	}
}

@media screen and (max-width: 779px) {
	.listen-cta {
		right: 0;
		left: auto;
		z-index: 1;
	}
	
	.main-navigation .page_item .children {
		display: none;
	}
	
	#freeform-social {
		display: none;
	}
	
	.main-navigation.toggled #freeform-social {
		display: block;
		text-align: center;
		border-top: 1px solid #DDD;
	}
	
	#freeform-social a {
		border-top: 0;
	}
}

.entry-content h1:first-child {
  margin-top: 0;
}


/**** page specific ****/
.page-id-35 .site-content {
  max-width: none;
}