#freeform-social {
	position: absolute;
	right: .66em;
	top: 0;
}

#freeform-social a {
	display: inline-block;
	margin-right: .25em;
	font-size: 1.66em;
}

@media screen and (max-width: 779px) {
	#freeform-social {
		right: .25em;
	}
	
	#freeform-social a {
		border-top: 0;
		padding-left: 0;
		padding-right: 0;
	}
}